<div class="card bg-light mb-3" [hidden]="submitted">
  <div class="card-header">
    <h1>House Details</h1>
  </div>
  <div class="container text-dark my-5" style="width:75%">

    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="card-body">
      <fieldset>
        <div class="form-group">
          <label for="house.apartmentNumber">Apartment No</label>
          <div>
            <input type="text" [(ngModel)]="house.apartmentNumber" required class="form-control" id="apartmentNumber"
              name="apartmentNumber" placeholder="Enter Apartment Number">
          </div>
        </div>
        <div class="form-group">
          <label for="house.streetName">Street Name</label>
          <div>
            <input type="text" [(ngModel)]="house.streetName" required class="form-control" id="stname" name="stname"
              placeholder="Enter Street Name">
          </div>
        </div>
        <div class="form-group">
          <label for="house.city">City</label>
          <div>
            <input type="text" [(ngModel)]="house.city" required class="form-control" id="city" name="city"
              placeholder="Enter City Name">
          </div>
        </div>
        <div class="form-group">
          <label for="house.state">State</label>
          <select [(ngModel)]="house.state" required class="form-control" id="state" name="state"
            placeholder="Select State Name">
            <option *ngFor="let state of states; let index = i" [value]="state">{{state}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hhname">House Head Person Name</label>
          <div>
            <input type="text" [(ngModel)]="house.houseHeadPerson" required class="form-control" name="hhname" id="hhname"
              placeholder="Enter Name Of House Head Person">
          </div>
        </div>
        <div class="form-group">
          <label for="house.ownership">House Ownership Status</label>
          <div>
            <select [(ngModel)]="house.ownership" required class="form-control" id="ownstatus" name="ownstatus"
              placeholder="Select Ownership Status">
              <option value="owned">Owned</option>
              <option value="rented">Rented</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="house.roomQuantity">Number Of Rooms</label>
          <div>
            <select [(ngModel)]="house.roomQuantity" required class="form-control" id="rooms" name="rooms"
              placeholder="Select Number Of Rooms">
              <option value="1">1 Room</option>
              <option value="2">2 Rooms</option>
              <option value="3">3 Rooms</option>
              <option value="4">4 Rooms</option>
              <option value="5">5 Rooms</option>
            </select>
          </div>
        </div>
        <div>
          <button [disabled]="form.invalid" type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-block">Save</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
<div [hidden]="!submitted">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    Census House Number : <strong>{{censusHouseNumber}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="submitted=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>