<nav [hidden]="authService.loggedIn()" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Digital Census</a>
    <a class="navbar-toggler" type="a" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </a>

    <div class="collapse navbar-collapse" id="loginbar">

        <li class="form-inline my-2 ml-lg-auto my-lg-0" routerLinkActive="active current">
            <a routerLink="login" class="btn btn-secondary my-2 my-sm-0" type="submit">Login</a>
        </li>
        <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
            <a routerLink="register" class="btn btn-secondary my-2 my-sm-0" type="submit">Register</a>
        </li>
    </div>
</nav>
<div [hidden]="!authService.loggedIn()">
    <nav [hidden]="!authService.IsApprover()" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Digital Census</a>
        <a class="navbar-toggler" type="a" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse">
            <div class="form-inline my-2 ml-lg-auto my-lg-0">
                <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
                    <a routerLink="pending" class="btn btn-secondary my-2 my-sm-0" type="submit">Pending</a>
                </li>
                <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
                    <a routerLink="approved" class="btn btn-secondary my-2 my-sm-0" type="submit">Approved</a>
                </li>
                <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
                    <a routerLink="rejected" class="btn btn-secondary my-2 my-sm-0" type="submit">Rejected</a>
                </li>
            </div>
            <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
                <a (click)="logout()" class="btn btn-secondary my-2 my-sm-0 ml-lg-auto" type="submit">Logout</a>
            </li>
        </div>
    </nav>

    <nav [hidden]="authService.IsApprover()" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Digital Census</a>
        <a class="navbar-toggler" type="a" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>

        <div class="collapse navbar-collapse">
            <div *ngIf="authService.IsApproved()">
                <div class="col-4"></div>
                <div class="form-inline my-2 ml-lg-auto my-lg-0">
                    <li routerLinkActive="active current" class="form-inline ml-lg-auto ">
                        <a routerLink="house" class="btn btn-secondary my-2 my-sm-0" type="submit">House</a>
                    </li>
                    <li routerLinkActive="active current" class="form-inline">
                        <a routerLink="citizen" class="btn btn-secondary my-2 my-sm-0" type="submit">Citizen</a>
                    </li>
                </div>
            </div>
            <div class="col-11" *ngIf="!authService.IsApproved()">

            </div>
            <li routerLinkActive="active current" class="form-inline my-2 my-lg-0">
                <a (click)="logout()" class="btn btn-secondary my-2 my-sm-0 ml-lg-auto" type="submit">Logout</a>
            </li>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>